<button [routerLink]="['/create', oneRestaurant._id]"  > + New Review</button>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Customers</th>
            <th scope="col">Stars</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let review of oneRestaurant.reviews">
            <td>{{review.cname}}</td>
            <td>{{review.stars}}</td>
            <td>{{review.review}}</td>
        </tr>
    </tbody>
</table>