.logo{
    color: maroon;
    font-weight: 900;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: maroon 4px solid;
    margin: 3px;
    border-radius: 20px;
    padding: 4px;
}